.message{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
 
}
.messageBody{
    display: flex;
}

.messages-container{
    height: calc(100vh - 40vh);

    overflow-y: auto;

}
.custom-link {
    color: black; /* or your desired color */
    text-decoration: none; /* optional: remove underline */
  }

.messageText{
    background-color:  #2f83f1;
    border-radius: 10px;
    color: white;
    padding: 10px;
    max-width: 25rem; 
    word-break: break-all; 
}
.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: rgb(245, 241, 241);
    color: black;
}


.chat-sender {
    background: white;
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    width: 90%;
    /* margin-bottom: 0.5rem; */
    margin-left: 5%;
    /* margin-right: 1rem; */
    margin-bottom: 0.2rem;

    align-items: center;
    gap: 1rem;
    padding: 0.8rem;
    border-radius: 1rem;
    align-self: end;

}

.input-container{
    width: 60vw;
}
/* .chat-sender>input{
    height: 70%;
    background-color: rgb(236, 236, 236);
    border-radius: 0.5rem;
    border: none;
    outline: none;
    flex  :1 ;
    font-size: 14px;
    padding: 0px 15px 0px 15px;
} */
.sender-input {
    overflow-wrap: break-word; /* This property prevents overflow without spaces */
    max-width: 100%; /* Ensure the input doesn't exceed its container's width */
  }
.chat-sender>div:nth-of-type(1)
{
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.chat-sender>div{
    height: 70%;
    padding: 0px 15px 0px 15px;
}

.chatbox-empty-message {
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  .message-menu {
    cursor: pointer;
    background-color: #fff;
    height: 30px;
    width: 10vw;
    font-size: 0.8rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
    transform: translateY(-5px);
  }
  @media screen and (max-width: 850px) {
    .messageBody .message-menu .MuiTypography-root {
      display: none;
    }
  }
  
  